<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Notification_ServerService.Service.RegistrationService"
               behaviorConfiguration="Notification_ServerServiceBehavior">
        <endpoint address="http://localhost:8000/RegirstatorService"
                  binding="webHttpBinding"
                  behaviorConfiguration="EndpontNotification_ServerServiceBehavior"
                  contract="Notification_ServerService.Service.IRegistrationService"/>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpontNotification_ServerServiceBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Notification_ServerServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
